<p id="notice"><%= notice %></p>

<h1>Venuecategories</h1>

<table>
  <thead>
    <tr>
      <th>Venue</th>
      <th>Category</th>
      <th>Venues</th>
      <th>Categories</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @venuecategories.each do |venuecategory| %>
      <tr>
        <td><%= venuecategory.venue_id %></td>
        <td><%= venuecategory.category_id %></td>
        <td><%= venuecategory.venues %></td>
        <td><%= venuecategory.categories %></td>
        <td><%= link_to 'Show', venuecategory %></td>
        <td><%= link_to 'Edit', edit_venuecategory_path(venuecategory) %></td>
        <td><%= link_to 'Destroy', venuecategory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Venuecategory', new_venuecategory_path %>
