<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-6 index">
		<div class="row">
			<div class="col-md-4 bars">
				<div class="row title bartitle">
					<%= link_to venues_path do %>
						<h3>Bars/Clubs</h3>
					<% end %>
				</div>
				<div class="row">
					<%= link_to venues_path do %>
						<h4>Chill Vibes</h4>
					<% end %>
				</div>
				<div class="row">
					<%= link_to venues_path do %>
						<h4>Music</h4>
					<% end %>
				</div>
				<div class="row">
					<%= link_to venues_path do %>
						<h4>Dancing</h4>
					<% end %>
				</div>
				<div class="row">
					<%= link_to venues_path do %>
						<h4>Rooftops</h4>
					<% end %>
				</div>
			</div>
			<div class="col-md-4 restaurants">
				<div class="row title">
					<%= link_to venues_path do %>
						<h3>Restaurants</h3>
					<% end %>
				</div>
				<div class="row">
					<%= link_to venues_path do %>
						<h4>Suit & Tie</h4>
					<% end %>
				</div>
				<div class="row double">
					<%= link_to venues_path do %>
						<h4>Classy & Casual</h4>
					<% end %>
				</div>
				<div class="row double">
					<%= link_to venues_path do %>
						<h4>Retro & Hipster</h4>
					<% end %>
				</div>
				<div class="row">
					<%= link_to venues_path do %>
						<h4>Quick Bite</h4>
					<% end %>
				</div>
			</div>
			<div class="col-md-4 activities">
				<div class="row title activitiestitle">
					<%= link_to venues_path do %>
						<h3>Activities</h3>
					<% end %>
				</div>
				<div class="row">
					<%= link_to venues_path do %>
						<h4>Athletic</h4>
					<% end %>
				</div>
				<div class="row">
					<%= link_to venues_path do %>
						<h4>Relaxed fun</h4>
					<% end %>
				</div>
				<div class="row">
					<%= link_to venues_path do %>
						<h4>Day Trip</h4>
					<% end %>
				</div>
				<div class="row">
					<%= link_to venues_path do %>
						<h4>Free</h4>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-1"></div>
	<div class="col-md-3">
		<div class="row">
		</div>
		<div class="row">
		</div>
	</div>
	<div class="col-md-1"></div>
</div>