<div class="row" id="homepage">
	<div class="col-md-4 leftbar" >
		<div class="container">
		  <div class="autoplay">
		    <div class="carousels" id="carousel1">
		    	<h3 class="sponsor">Sponsor</h3>
		    	<%= link_to "venues/10" do %>
			    	<h3 class="sponsorlink"><%= @venues.find(10).name %></h3>
		    	<% end %>
		    </div>
		    <div class="carousels" id="carousel2">
		    	<h3 class="sponsor">Sponsor</h3>
		    	<%= link_to "/venues/45" do %>
			    	<h3 class="sponsorlink"><%= @venues.find(45).name %></h3>
		    	<% end %>
		    </div>
		    <div class="carousels" id="carousel3">
		    	<h3 class="sponsor">Sponsor</h3>
		    	<%= link_to "/venues/6" do %>
			    	<h3 class="sponsorlink"><%= @venues.find(6).name %></h3>
		    	<% end %>
		    </div>
		    <div class="carousels" id="carousel4">
		    	<h3 class="sponsor">Sponsor</h3>
		    	<%= link_to "/venues/26" do %>
			    	<h3 class="sponsorlink"><%= @venues.find(26).name %></h3>
		    	<% end %>
		    </div>
		    <div class="carousels" id="carousel5">
		    	<h3 class="sponsor">Sponsor</h3>
		    	<%= link_to "/venues/13" do %>
			    	<h3 class="sponsorlink"><%= @venues.find(13).name %></h3>
		    	<% end %>
		    </div>
		    <div class="carousels" id="carousel6">
		    	<h3 class="sponsor">Sponsor</h3>
		    	<%= link_to "/venues/17" do %>
			    	<h3 class="sponsorlink"><%= @venues.find(17).name %></h3>
		    	<% end %>
		    </div>
		  </div>
		</div>
		<div class="container">
			<div class="homeforum">
				<div class="row title">
					<%= link_to posts_path do %>
						<h2>Forum</h2>
					<% end %>
				</div>
				<div class="row">
					<% @posts.each do |post| %>
	          <div class="row posts">
	            <div class="col-md-4">
	              <%= link_to post do %>
	              	<% if !post.image.blank? then postsrc = post.image else postsrc = post.venue.image end %>
	              	<%= image_tag ( postsrc ) %>
	              <% end %>
	            </div>
	            <div class="col-md-8">
	              <div class="row">
	                <strong> <%= post.post_name %> </strong>
	              </div>
	              <div class="row">
	               		<%= link_to post.venue, :class => "postname" do "- " + post.venue.name  end %>
	              </div>
	              <div class="row">
	                  <p><%= distance_of_time_in_words(Time.now, post.created_at , options = {}) + " ago"%></p>
	              </div>
	            </div>
	          </div>
	        <% end %>
				</div>
				<div class="row checkoutmoreposts">
					<%= link_to posts_path do %>
						<h4>Check out more...</h4>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-8 index">
		<div class="row">
			<h3>First Choose the Type of Date</h3>
		</div>
		<div class="row">
			<div class="col-md-4 bars">
				<div class="row">
					<h5>Fun night out listening to music, dancing, or at a lounge to mingle?</h5>
				</div>
				<div class="row">
					<%= link_to venues_path, :id => "barcat" do %>
						<h3 >Bars/Clubs</h3>
					<% end %>
				</div>
			</div>
			<div class="col-md-4 restaurants">
				<div class="row">
					<h5>Looking for a good vibe? Or do you want to dress up and treat them to a special night?</h5>
				</div>
				<div class="row">
					<%= link_to venues_page_path(:restcat), :id => "restcat" do %>
						<h3>Restaurants</h3>
					<% end %>
				</div>
			</div>
			<div class="col-md-4 activities">
				<div class="row">
					<h5>Tired of the average date? Let's take a jump and do something new!</h5>
				</div>
				<div class="row">
					<%= link_to venues_page_path(:actcat), :id => "actcat" do %>
						<h3>Activities</h3>
					<% end %>
				</div>
			</div>
		</div>
		<div class="row info">
			<div class="col-md-4">
				<%= image_tag ( "winelogo.png" ) %>
			</div>
			<div class="col-md-8">
				<p>Scared to pick out the perfect date?</p>
				<p>Second-guessing and going through ideas faster than youre thinking of them?</p>
				<p>Well stop.</p>
				<p>We'll take care of the location, now you just have to ask them out, and then spend a few hours deciding on what to wear</p>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.7.1/slick/slick.min.js"></script>