<div class="row">
	<% link_to new_post_path do %>
		<button>New Post</button>
	<% end %>
</div>
<div class="row">
	<div class="col-md-3 leftbar" >
		<div class="row" id="sponsors">
			<h2>Sponsors(image carousel)</h2>
		</div>
		<div class="row" id="homeforum">
			<div class="row title">
				<%= link_to posts_path do %>
					<h2>Forum</h2>
				<% end %>
			</div>
			<div class="row">
				<% @posts.each do |post| %>
          <div class="row posts">
            <div class="col-md-4">
              <%= image_tag ( "#{post.venue.image}" ) %>
            </div>
            <div class="col-md-8">
              <div class="row">
                <strong><%= link_to post do post.post_name  end %></strong>
              </div>
              <div class="row">
               <%= link_to post.venue do post.venue.name  end %>
              </div>
              <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                  <p><%= distance_of_time_in_words(Time.now, post.created_at, options = {})%></p><p>ago</p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
			</div>
		</div>
	</div>
	<div class="col-md-8 index">
		<div class="row">
			<h3>First Choose the Type of Date</h3>
		</div>
		<div class="row">
			<div class="col-md-4 bars">
				<div class="row">
					<h5>Fun night out listening to music, dancing, or at a lounge to mingle?</h5>
				</div>
				<div class="row">
					<%= link_to venues_path, :id => "barcat" do %>
						<h3 >Bars/Clubs</h3>
					<% end %>
				</div>
			</div>
			<div class="col-md-4 restaurants">
				<div class="row">
					<h5>Looking for a good vibe? Or do you want to dress up and treat them to a special night?</h5>
				</div>
				<div class="row">
					<%= link_to venues_page_path(:restcat), :id => "restcat" do %>
						<h3>Restaurants</h3>
					<% end %>
				</div>
			</div>
			<div class="col-md-4 activities">
				<div class="row">
					<h5>Tired of the average date? Let's take a jump and do something new!</h5>
				</div>
				<div class="row">
					<%= link_to venues_page_path(:actcat), :id => "actcat" do %>
						<h3>Activities</h3>
					<% end %>
				</div>
			</div>
		</div>
		<div class="row info">
			<p>Scared to pick out the perfect date?</p>
			<p>Second-guessing and going through ideas faster than youre thinking of them?</p>
			<p>Well stop.</p>
			<p>We'll take care of the location, now you just have to ask them out, and then spend a few hours deciding on what to wear</p>
		</div>
	</div>
	
</div>