<!-- css -->
<style>
  #map {
    height: 600px;
    width: 100%;
    margin: 50px auto;
  }
  .mapimage {
    width: 90%;
    margin: 0 auto;
  }
</style>


<!-- html -->
<div class="row">
  <div class="col-md-4 venuebox">
    <div class="row info">
      <h2>Selected Venue</h2>
    </div>
  </div>
  <div class="col-md-7">
    <div id="map"></div>
  </div>
</div>


<!-- javascript -->
<script>
function initMap() {
  var venuebox = document.querySelector('.venuebox');
  var venueinfo = [
    <% @venues.each do |venue| %>
      ['<div class="info">\r\
          <div class="row">\r\
            <div class="col-md-6">\r\
              <%= image_tag ( "#{venue.image}" ), :class => "mapimage" %>\r\
            </div>\r\
            <div class="col-md-6">\r\
              <div class="row">\r\
                <strong><%= venue.name %></strong>\r\
              </div>\r\
              <div class="row">\r\
                <%= venue.address %>\r\
              </div>\r\
              <div class="row">\r\
                <%=venue.phone %>\r\
              </div>\r\
            </div>\r\
          </div>\r\
          <div class="row">\r\
            <p class="ratetitle">DateNight:</p>\r\
            <span style="width:<%= 23 * venue.mean_rating %>px" id="stars"></span>\r\
          </div>\r\
          <div class="row">\r\
            <p class="ratetitle">Yelp:</p>\r\
            <span style="width:<%= 23 * venue.google_rating%>px" id="stars"></span>\r\
          </div>\r\
          <div class="row">\r\
            <p class="ratetitle">Google:</p>\r\
            <span style="width:<%= 23 * venue.yelp_rating %>px" id="stars"></span>\r\
          </div>\r\
          <div class="row">\r\
            <div class="col-md-12 button">\r\
              <%= link_to new_post_path do %><button>Rave About This Venue!</button><% end %>\r\
            </div>\r\
          </div\r\
        </div>'],
    <% end %>
  ];

  var locations = [
    <% @venues.each do |venue| %>
      ['<a id="venue-<%= venue.id %>"><strong><%= venue.name %></strong><a><br><br>\r\
          <%= venue.address %><br>\r\
          <%=venue.phone %>', <%= venue.latitude %>, <%= venue.longitude %>],
    <% end %>
  ];

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 12,
    center: new google.maps.LatLng(40.714064, -74.005600),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });

  var transitLayer = new google.maps.TransitLayer();
       transitLayer.setMap(map);

  var infowindow = new google.maps.InfoWindow({});

  var marker, i;

  for (i = 0; i < locations.length; i++) {
    marker = new google.maps.Marker({
      position: new google.maps.LatLng(locations[i][1], locations[i][2]),
      map: map
    });

    google.maps.event.addListener(marker, 'mouseover', (function (marker, i) {
      return function () {
        infowindow.setContent(locations[i][0]);
        infowindow.open(map, marker);
      }
    })(marker, i));
    google.maps.event.addListener(marker, 'mouseout', (function (marker, i) {
      return function () {
        infowindow.close(map, marker);
      }
    })(marker, i));
    google.maps.event.addListener(marker, 'click', (function (marker, i) {
      return function () {
        venuebox.innerHTML = (venueinfo[i][0]);
        }
      })(marker, i));
  }
}
</script>
 
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["google_key"] %>&callback=initMap"></script>