<div class="row venueindex">
 <div class="row venuenav">
    <div class="col-md-4 active barnav bigbutton">
      <h3>Bar/Clubs</h3>
    </div>
    <div class="col-md-4 restnav bigbutton">
      <h3>Restaurants</h3>
    </div>
    <div class="col-md-4 actnav bigbutton">
      <h3>Activities</h3>
    </div>
  </div>

<!-- bars and clubs -->

  <div class="row" id="bars">
    <div class="col-md-3">
      <h4 class="catbutton active" id="music">Music</h4>
    </div>
    <div class="col-md-3">
      <h4 class="catbutton" id="dancing">Dancing</h4>
    </div>
    <div class="col-md-3">
      <h4 class="catbutton" id="rooftop">Rooftop</h4>
    </div>
    <div class="col-md-3">
      <h4 class="catbutton" id="relaxed">Relaxed</h4>
    </div>
  </div>

<!-- restaurants -->

  <div class="row" id="restaurants">
    <div class="col-md-3">
      <h4 class="catbutton" id="suit">Suit & Tie</h4>
    </div>
    <div class="col-md-3">
      <h4 class="catbutton" id="classy">Classy & Casual</h4>
    </div>
    <div class="col-md-3">
      <h4 class="catbutton" id="retro">Retro & Hipster</h4>
    </div>
    <div class="col-md-3">
      <h4 class="catbutton" id="quick">Quick Bite</h4>
    </div>
  </div>

<!-- activities -->

  <div class="row" id="activities">
    <div class="col-md-3">
      <h4 class="catbutton" id="athletic">Athletic</h4>
    </div>
    <div class="col-md-3">
      <h4 class="catbutton" id="relaxedfun">Relaxed fun</h4>
    </div>
    <div class="col-md-3">
      <h4 class="catbutton" id="day">Day trip</h4>
    </div>
    <div class="col-md-3">
      <h4 class="catbutton" id="free">Free</h4>
    </div>
  </div>

  <div class="row newvenue">
    <%= link_to 'New Venue', new_venue_path %>
  </div>

<!-- venue list per category -->

  <% @categories.each do |category|%>
    <div class="row showcategory" id="cat<%=category.id%>">
      <% category.venues.each do |venue| %>
          <style media="screen">
            .venue-<%= venue.id %> { background-image: url(<%= venue.image %>); }
          </style>
          <%= link_to venue do %>
            <article class=" venue venue-<%=venue.id%>">
              <div class="info">
                <div class="row">
                  <h3><%=venue.name %></h3>
                </div>
                <div class="row">
                 <p><%=venue.address %></p>
                </div>
                <div class="row">
                 <p><%=venue.phone %></p>
                </div>
              </div>
            </article>
          <% end %>
      <% end %>
    </div>
  <% end %>
</div>
