

<div class="row venueindex">
 <div class="row venuenav">
    <div class="col-md-4 active barnav bigbutton">
      <h3>Bar/Clubs</h3>
    </div>
    <div class="col-md-4 restnav bigbutton">
      <h3>Restaurants</h3>
    </div>
    <div class="col-md-4 actnav bigbutton">
      <h3>Activities</h3>
    </div>
  </div>

<!-- bars and clubs -->

  <div class="row" id="bars">
  <div class="col-md-2"></div>
    <div class="col-md-2">
        <h4 class="catbutton active" id= "music">Music</h4>
    </div>
    <div class="col-md-2">
        <h4 class="catbutton" id="dancing">Dancing</h4>
    </div>
    <div class="col-md-2">
        <h4 class="catbutton" id="rooftop">Rooftop</h4>
    </div>
    <div class="col-md-2">
        <h4 class="catbutton" id="relaxed">Relaxed</h4>
    </div>
    <div class="col-md-2"></div>
  </div>

<!-- restaurants -->

  <div class="row" id="restaurants">
    <div class="col-md-1"></div>
    <div class="col-md-2">
        <h4 class="catbutton" id="suit">Suit & Tie</h4>
    </div>
    <div class="col-md-2">
        <h4 class="catbutton" id="classy">Classy & Semi-Casual</h4>
    </div>
    <div class="col-md-2">
        <h4 class="catbutton" id="retro">Hipster & Biergartens</h4>
    </div>
    <div class="col-md-2">
        <h4 class="catbutton" id="quick">Quick Bite</h4>
    </div>
    <div class="col-md-2">
        <h4 class="catbutton" id="vegan">Vegan/Vegetarian</h4>
    </div>
    <div class="col-md-1"></div>

  </div>

<!-- activities -->

  <div class="row" id="activities">
    <div class="col-md-2"></div>
    <div class="col-md-2">
        <h4 class="catbutton" id="athletic">Athletic</h4>
    </div>
    <div class="col-md-2">
        <h4 class="catbutton" id="relaxedfun">Relaxed fun</h4>
    </div>
    <div class="col-md-2">
        <h4 class="catbutton" id="day">Day trip</h4>
    </div>
    <div class="col-md-2">
        <h4 class="catbutton" id="free">Free</h4>
    </div>
    <div class="col-md-2"></div>
  </div>

    <div class="col-md-12-fluid changeview">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 ">
           <div class="row">
             <h2 class="link" id="openmapview">Go to map view</h2>
             <h2 class="link" id="openlistview">Go to list view</h2>
           </div>
        </div>
          <div class="col-md-3"></div>
      </div>
    </div>
  <div class="map">
  </div>

<!-- venue list per category -->
  <div id="venues">
      <% @venues.each do |venue| %>

        <style>
          .venue-<%= venue.id %> { background-image: url(<%= venue.image %>); }
        </style>

        <div class="eachvenue">
        <div class="row">
            <div class="col-md-6 padding">
              <%= link_to venue do %>
                <article class=" image venue-<%=venue.id%>"></article>
              <% end %>
            </div>

            <div class="col-md-6 padding info">
              <div class="row">
                <h3><%=venue.name %></h3>
              </div>
              <div class="row">
               <p><%=venue.address %></p>
              </div>
              <div class="row">
               <p><%=venue.phone %></p>
              </div>
              <div class="row venuerating">
                <p class="ratetitle">DateNight:</p>
                <span style="width:<%= 23 * venue.mean_rating %>px" id="stars"></span>
              </div>
              <div class="row venuerating">
                <p class="ratetitle">Yelp:</p>
                <span style="width:<%= 23 * venue.google_rating%>px" id="stars"></span>
              </div>
              <div class="row venuerating">
                <p class="ratetitle">Google:</p>
                <span style="width:<%= 23 * venue.yelp_rating %>px" id="stars"></span>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      </div><!--#venues-->
    </div>
</div>
<% case params[:page]
  when "restcat" then %>
    <script type="text/javascript">
        window.onload = function () {
          updateVenues(8);
          document.querySelector( '.restnav' ).click();
          document.querySelector( '#suit' ).click();
        };
    </script>
  <% when "actcat" then %>
    <script type="text/javascript">
      window.onload = function () {
        updateVenues(13);
        document.querySelector( '.actnav' ).click();
        document.querySelector( '#athletic' ).click();
      };
    </script>
  <% else %>
    <script type="text/javascript">
      updateVenues(4);
    </script>
  <% end %>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["google_key"] %>"></script>