<p id="notice"><%= notice %></p>

<p>
  <strong>Venue:</strong>
  <%= @venuecategory.venue_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @venuecategory.category_id %>
</p>

<p>
  <strong>Venues:</strong>
  <%= @venuecategory.venues %>
</p>

<p>
  <strong>Categories:</strong>
  <%= @venuecategory.categories %>
</p>

<%= link_to 'Edit', edit_venuecategory_path(@venuecategory) %> |
<%= link_to 'Back', venuecategories_path %>
