<div class="row">
  <div class="col-md-12" id="forumindex">
    <div class="row">
      <h2>DateNight Forum</h2>
    </div>
    <div class="row">
      <em><h5>Let us know how it went!</h5></em>
    </div>
    <% if user_signed_in? %>
      <div class="row">
        <%= form_for :post, url: posts_path do |form| %>
          <% if @post && @post.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
              <ul>
              <% @post.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          
          <div class=" row field">
            <%= form.label :venue, :class => "col-md-4" %>
            <%= form.select :venue_id, options_for_select( Venue.order('name ASC').pluck( :name, :id) ), :class => "col-md-8" %>
          </div>
          <div class=" row field">
            <%= form.text_field :post_name, :placeholder => 'Title', :class => " postinput col-md-6" %>
          </div>

          <div class=" row field">
            <%= form.text_area :text, :placeholder => 'Your post content', :class => " postinput col-md-6" %>
          </div>
          <div class="col-md-2 actions">
            <%= form.submit %>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="row postlist">
      <div class="col-md-12">
        <% @posts.each do |post| %>
          <div class="posts">
            <div class="row">
              <div class="col-md-4">
                <%= image_tag ( "#{post.venue.image}" ) %>
              </div>
              <div class="col-md-8">
                <div class="row">
                  <strong><%= link_to post do post.post_name  end %></strong>
                </div>
                <div class="row">
                 <%= link_to post.venue do post.venue.name  end %>
                </div>
                <div class="row text">
                  <%= post.text %>
                </div>
                <% if user_signed_in? && post.user_id = current_user.id %>
                  <div class="row">            
                    <div class=" link">
                      <%= link_to 'Edit', edit_post_path(post) %> |
                      <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
                    </div>
                  </div>
                <% end %>
                <div class="row">
                  <div class="col-md-6"></div>
                  <div class="col-md-6">
                    <p><%= distance_of_time_in_words(Time.now, post.created_at, options = {})%></p><p>ago</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>