
<div class="showpost">
  <div class="row info">
    <div class="col-md-6">
      <%= image_tag ( "#{@post.venue.image}" ) %>
    </div>
    <div class="col-md-6">
      <div class="row">
        <strong><%=  @post.post_name %></strong>
      </div>
      <div class="row">
       <%= link_to @post.venue do @post.venue.name  end %>
      </div>
      <div class="row text">
        <p><%= @post.text %></p>
      </div>
      <% if user_signed_in? && @post.user_id = current_user.id %>
        <div class="row">            
          <div class="link">
            <%= link_to 'Edit', '#', :class => 'editpostbutton' %> |
            <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
          <p><%= distance_of_time_in_words(Time.now, @post.created_at , options = {}) + " ago"%></p>
        </div>
      </div>
    </div>
  </div>
   <%= render '/posts/editpostform' %>

</div>