
<div class="showpost">
  <div class="row info">
    <div class="col-md-6">
      <% if !@post.image.blank? then postsrc = @post.image else postsrc = @post.venue.image end %>
      <%= image_tag ( postsrc ) %>
    </div>
    <div class="col-md-6">
      <div class="row">
        <strong><%=  @post.post_name %></strong>
      </div>
      <div class="row">
       <%= link_to @post.venue do @post.venue.name  end %>
      </div>
      <div class="row text">
        <p><%= @post.text %></p>
      </div>
      <% if user_signed_in? && @post.user_id = current_user.id %>
        <div class="row">            
          <div class="link">
            <%= link_to 'Edit', '#', :class => 'editpostbutton' %> |
            <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
          <p><%= distance_of_time_in_words(Time.now, @post.created_at , options = {}) + " ago"%></p>
        </div>
      </div>
    </div>
  </div>
  <div class="editpost" class="row">
    <div id="close5">x</div>
    <%= form_for @post do |form| %>
      <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="row">
        <h3>Edit Post</h3>
      </div>
      
      <div class=" row field margins">
        <%= form.label "venue:" %>
        <%= form.select :venue_id, options_for_select( Venue.order('name ASC').pluck( :name, :id)), {}, {:id => "editpostvenue"}%>
      </div>

      <div class=" row field margins">
        <%= form.label "Title:" %>
        <%= form.text_field :post_name, :placeholder => 'Title', :class => " postinput", :id => "editpostname" %>
      </div>

      <div class=" row field margins">
        <%= form.label "Body:" %>
        <%= form.text_area :text, :placeholder => 'Your post content', :class => " postinput", :id => "editposttext" %>
      </div>

      <div class="row field margins">
        <%= form.label "Image: " %>
        <%= form.file_field :image, id: "image" %>
      </div>

      <div class="col-md-2 actions">
        <%= form.submit %>
      </div>

    <% end %>
  </div>
   <script>
     document.addEventListener('DOMContentLoaded', function () {
      var editpostbutton = document.querySelector( '.editpostbutton' )
      var editpost = document.querySelector( '.editpost' )
      var close5 = document.querySelector( '#close5' )
      var postVenue = document.querySelector( '#editpostvenue' )      
      var postName = document.querySelector( '#editpostname' )
      var postText = document.querySelector( '#editposttext' )
      var postImage = document.querySelector( '#editpostimage' )      
      if( editpostbutton )
      editpostbutton.addEventListener('click', function(){
          editpost.style.display = 'inline-block';
          postVenue.value = <%= @post.venue_id %>;
          postName.value = "<%= @post.post_name %>";
          postText.value = "<%= @post.text %>";
          if( postImage ){
            postImage.value = "<%= @post.image %>";
          } 
          
          
      });

      if( close5 )
      close5.addEventListener('click', function() {
          editpost.style.display = 'none';
      });
    });
</script>
</div>