<div class="createvenue" class="row">
	<div id="close">x</div>
	<%= form_with(model: @venue, local: true) do |form| %>
	  <% if @venue.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

	      <ul>
	      <% @venue.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

	  <div class="field row">
	    <%= form.label :name %>
	    <%= form.text_field :name, id: 'placename'%>
	    <span id="place-name"></span>
	  </div>

	  <div class="field row">
	    <%= form.label :bio %>
	    <%= form.text_area :bio, id: :venue_bio %>
	  </div>

	  <div class="field row">
	    <%= form.label :address %>
	    <%= form.text_field :address, id: "placeaddress" %>
	    <span id="place-address"></span>
	  </div>

	  <div class="field row">
	    <%= form.label :phone %>
	    <%= form.text_field :phone, id: "placephone" %>
	    <span id="place-phone"></span>
	  </div>

	  <div class="field row">
	    <%= form.label :image %>
	    <%= form.text_field :image, id: :venue_image %>
	  </div>

	  <div class="field row">
	    <%= form.label :rating_id %>
	    <%= form.number_field :rating_id, id: :venue_rating_id %>
	  </div>

	  <div class="field row">
	    <%= form.label :bar %>
	    <%= form.check_box :bar, id: :venue_bar %>
	  </div>

	  <div class="field row">
	    <%= form.label :restaurant %>
	    <%= form.check_box :restaurant, id: :venue_restaurant %>
	  </div>

	  <div class="field row">
	    <%= form.label :activity %>
	    <%= form.check_box :activity, id: :venue_activity %>
	  </div>

	  <div class="field row">
	    <%= form.label :google_rating %>
	    <%= form.number_field :google_rating, id: "placerating" %>
	    <span id="place-rating"></span>
	  </div>

	  <div class="actions">
	    <%= form.submit %>
	  </div>
	<% end %>
</div>