
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<style>

  #map {
    height: 600px;
    width: 800px;
    margin: 50px auto;
  }
  
</style>

<div id="map"></div>


<script>
  
function initMap() {
  
  var locations = [
    <% @venues.each do |venue| %>
      ['<strong><%= venue.name %></strong><br>\r\
          <%= venue.address %><br>\r\
          <%=venue.phone %>', <%= venue.latitude %>, <%= venue.longitude %>],
    <% end %>
  ];

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 12,
    center: new google.maps.LatLng(40.714064, -74.005600),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });

  var infowindow = new google.maps.InfoWindow({});

  var marker, i;

  for (i = 0; i < locations.length; i++) {
    marker = new google.maps.Marker({
      position: new google.maps.LatLng(locations[i][1], locations[i][2]),
      map: map
    });

    google.maps.event.addListener(marker, 'click', (function (marker, i) {
      return function () {
        infowindow.setContent(locations[i][0]);
        infowindow.open(map, marker);
      }
    })(marker, i));
  }
}
</script>
 
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["google_key"] %>&callback=initMap"></script>