<header>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 heading">
				<h1>
					<%= link_to '/' do "Date Night" end %>
				</h1>
       	<div id="links">
					<% if user_signed_in? %>
	  						<%= link_to "Sign Out", destroy_user_session_path, method: :delete, :id => 'signout' %>
	  					<% else %>
	         	<%= link_to 'Sign Up', '#', :id => 'signup' %>
		 				<%= link_to 'Sign In', '#', :id => 'signin' %>
	 				<% end %>
	 			</div>
 			</div>
		</div>	
		<nav class="row">
			<%= link_to root_path do %>
				<h4>Home</h4>
			<% end %>
			<%= link_to venues_path do %>
				<h4>All Venues</h4>
			<% end %>
			<%= link_to posts_path do %>
				<h4>Forum</h4>
			<% end %>
			<% if user_signed_in? && current_user.admin? %>
				<%= link_to new_venue_path do %>
					<h4>New Venue</h4>
				<% end %>
			<% end %>
			<p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
		</nav>	
	</div>
</header>