<header class="container-fluid">
		<nav class="row">
			<div id="links" class="col-md-12">
				<div id="otherlinks">
					<% if user_signed_in? && current_user.admin? %>
						<%= link_to new_venue_path do %>
							<h4>New Venue</h4>
						<% end %>
					<% end %>
					<% if user_signed_in? %>
	  						<%= link_to "Sign Out", destroy_user_session_path, method: :delete, :id => 'signout' %>
	  					<% else %>
	         	<%= link_to 'Sign Up', '#', :id => 'signup' %>
		 				<%= link_to 'Sign In', '#', :id => 'signin' %>
	 				<% end %>
	 			</div>
 				<div id="imglinks">
					<%= link_to venues_path do %>
						<%= image_tag "search.png" %>
					<% end %>
					<%= link_to profile_index_path do %>
						<%= image_tag "profile.png" %>
					<% end %>
				</div>
 			</div>
		</nav>	
		<div class="row">
			<div class="col-md-12 heading">
				<%= link_to '/' do "Spiffy Date" end %>
       	<p class="notice"><%= notice %></p>
      	<p class="alert"><%= alert %></p>
 			</div>
		</div>
		<% if @homepage %>
			<div class="row index">
				<div class="row">
					<h2>Just Choose the Type of Date to Browse</h2>
					<div class="col-md-4 bars">
						<div class="row">
							<h5>Fun night out listening to music, dancing, or at a lounge to mingle?</h5>
						</div>
						<div class="row">
							<%= link_to venues_path, :id => "barcat" do %>
								<h2>Bars/Clubs</h2>
							<% end %>
						</div>
					</div>
					<div class="col-md-4 restaurants">
						<div class="row">
							<h5>Looking for a good vibe? Or do you want to dress up and treat them to a special night?</h5>
						</div>
						<div class="row">
							<%= link_to venues_page_path(:restcat), :id => "restcat" do %>
								<h2>Restaurants</h2>
							<% end %>
						</div>
					</div>
					<div class="col-md-4 activities">
						<div class="row">
							<h5>Tired of the average date? Let's take a jump and do something new!</h5>
						</div>
						<div class="row">
							<%= link_to venues_page_path(:actcat), :id => "actcat" do %>
								<h2>Activities</h2>
							<% end %>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<%= image_tag "arrow.png", :class => "arrow" %>
					</div>
				</div>
			</div>
			<style>
				body {
					padding-bottom: 0;
				}
				.index {
					padding: 0 0 5% 0;
				}
				header {
					position: relative;
					height: 95%;
					background-attachment: fixed;
				}
				header .heading a {
					font-size: 120px;
				}
				.arrow {
				  -moz-animation: bounce 2s infinite;
				  -webkit-animation: bounce 2s infinite;
				  animation: bounce 2s infinite;
				  height: 50px;
				}
				@keyframes bounce {
				  0%, 20%, 50%, 80%, 100% {
				    transform: translateY(0);
				  }
				  40% {
				    transform: translateY(-30px);
				  }
				  60% {
				    transform: translateY(-15px);
				  }
				}
				.eachvenue {
					background-image: none;
					background-color: rgba(216,185,153,1);
				}
			</style>
		<% end %>	
</header>