<!DOCTYPE html>
<html>
  <head>
    <title>DateNight</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap-grid.css">
    <link href="https://fonts.googleapis.com/css?family=Mate+SC|Oleo+Script|Lalezar|Merienda+One" rel="stylesheet">
  </head>

  <body>

  

 	<%= render '/layouts/header' %>
  
  <%= render '/layouts/signin' %>

  <%= render '/layouts/signup' %>

  <div class="container-fluid ">
   	<%= yield %>
  </div>

  <%= render '/layouts/footer' %>
 
  </body>
</html>
